@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: right;
    padding: 50px 120px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}
header menu{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
header menu ul li{
    display: inline-block;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}
header menu ul li a{
    color: white;
    text-decoration: none;
}
header menu ul li a:hover{
    color: #04BEF3;
    transition: .5s;
}
header button{
    padding: 13px 37px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #fff;
    background: transparent;
}
.shadow{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #24202E;
    opacity: .75;
}
.container{
    max-width: 822px;
    margin: 0 auto;
}

.intro{
    height: 631px;
    background-image: url('https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.intro .content{
    text-align: center;
    color: white;
    padding-top: 220px;
    z-index: 1;
    position: relative;
}
.intro .content p{
    font-size: 33px;
}
.intro .content p span{
    color: #04BEF3;
}
.intro .content h1{
    font-size: 68px;
    font-weight: 900;
}
.intro .content button{
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 9px 22px;
    background-color: #04BEF3;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}


.section-2{
    text-align: center;
    margin-bottom: 80px;
}
.section-2 h2{
    margin-top: 85px;
    letter-spacing: 1.6px;
    color: #24202E;
    font-size: 46px;
    margin-bottom: 20px;
}
.section-2 p{
    font-weight: 300;
    color: #24202E;
    font-size: 19px;
}

.section-3{
    position: relative;
    height: 411px;
    /* background-image: url('https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
    /* background-image: url('images/img_lights.jpg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}
.section-3 .video-container{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.section-3 .video-container iframe{
    width: 100%;
    height: 56vw;
}
.section-3 .content{
    padding-top: 162px;
    position: relative;
    z-index: 1;
    text-align: center;
}
.section-3 .content h2{
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 1.92px;
}
.section-3 .content{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.96px;
    color: #FFFFFF;
}
.section-4{
    margin-top: 75px;
}
.section-4 .heading {
    text-align: center;
}
.section-4 .heading span{
    letter-spacing: 0.8px;
    color: #24202E;
    font-size: 20px;
    font-weight: 300;
}

.section-4 .heading h3{
    font-size: 25px;
    color: #24202E;
    margin-top: 20px;
}
.section-4 .list{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 145px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.section-4 .list h3{
    font-size: 16px;
    color: #24202E;
    margin-bottom: 10px;
}
.section-4 .list ul li {
    font-size: 16px;
    color: #24202E;
    list-style-type: none;
    font-weight: 300;
    margin-bottom: 10px;
}

footer{
    height: 520px;
    background-color: #24202E;
    color: white;
    text-align: center;
    margin-top: 115px;
}

.footer-title p:first-child{
   font-size: 53px; 
   text-transform: capitalize;
   margin-top: 100px;
   display: inline-block;
}

.footer-title p:last-child{
   font-size: 38px;
   font-weight: 300;
   margin-top: 20px;
}

.socials{
    margin-top: 65px;
    display: inline-block;
    text-align: left;
}
.socials div{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.socials img{
    width: 30px;
    margin-right: 25px;
}
.socials a{
    text-decoration: none;
    color: white;
}